.loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    background: rgba(255, 255, 255, 0.7);
}
.loading > .fas {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -15px;
    color: #343a40;
    font-size: 30px;
}

.btn-file {
    border-top-left-radius: 0.25rem !important;
    border-bottom-left-radius: 0.25rem !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.toast {
    opacity: 1 !important;
}
#toast-container > div {
    opacity: 1 !important; 
}

.list-group-item.active {
    background-color: #28a745;
    border-color: #28a745;
}